<div class='input-group full-width'>
  <input
    id='{{id}}'
    type='{{type}}'
    name='{{name}}'
    class='input-field full-width {{className}}'
    value='{{value}}'
    placeholder='{{placeholder}}'
    autocomplete='new-password'
      {{#if readonly}} readonly {{/if}}
  />

  <label class='input-label' for='{{id}}'>{{label}}</label>
</div>
